@import 'mixins';

@font-face {
  font-family: 'Sky Text';
  src: url('https://www.sky.com/assets/fonts/sky-regular.woff') format("woff");
}

@font-face {
  font-family: 'Sky Text';
  src: url('https://www.sky.com/assets/fonts/sky-medium.woff') format("woff");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  @include linear-gradient('to bottom right', #0078db, #0d1f3a);
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Sky Text', Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
